/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-logo {
    font-family: $heading-font;
    font-weight: 300;
    font-size: 18.75rem;
    line-height: 0.875;
    color: #4a4948;
    
    @include media-breakpoint-down(sm) {
        font-size: 10.75rem;
    }
}

.go-home {
    padding-left: 5rem;
    padding-right: 5rem;
    color: #545453;
    background-image: linear-gradient(180deg, #f3d3d3, #e5b4b3);
}