
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    padding: 3rem;
    background-color: $white;
    border: 1rem solid #f4f4f4;
}