
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 1.875rem;

	.fbox-header {
		p {
			color: #9c9c9c;
			font-size: 0.875rem;
			line-height: 1.5;
		}
	}
}