
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.875rem; 
	position: relative;
	
	.title {
		font-weight: 600;
	}

	a {
		font-size: 0.9375rem;
		padding: 0.75rem 3rem;
		border: 1px solid $theme-color;
		font-weight: 500;
		border-radius: 0.3rem;
	}
}