
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 0.5rem;

	.icon-wrapper {
		font-family: $body-font;
		font-size: 1rem;
	}	
}